{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Red Fox Movie Rental</h1>
    <p class="lead">Test of our Rental Website.</p>
    <p><a href="{{ url_for('login') }}" class="btn btn-primary btn-large">Login</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>View movies</h2>
        <p>
            View a list of the movies we have available for rent.
        </p>
        <p><a class="btn btn-default" href="{{ url_for('movies') }}">Movies</a></p>
    </div>
    <div class="col-md-4">
        <h2>Rent a Movie</h2>
        <p>Have a movie in mind head straight to our rental page and select your rental.</p>
        <p><a class="btn btn-default" href="{{ url_for('rent') }}">Rent</a></p>
    </div>
    <div class="col-md-4">
        <h2>Return</h2>
        <p>Need to complete a return? Head straight to our return page.</p>
        <p><a class="btn btn-default" href="{{ url_for('returns') }}">Return</a></p>
    </div>
</div>

{% endblock %}
